http://www.windwardreports.com/downloads/SetupEnterpriseSearch.zip

The script needs a configuration file with something like this:

<Services>

<EnterpriseSearchService ContactEmail="no-reply@SharePointDev1.com"

ConnectionTimeout="60"

AcknowledgementTimeout="60"

ProxyType="Default"

IgnoreSSLWarnings="false"

InternetIdentity="Mozilla/4.0 (compatible; MSIE 4.01; Windows NT; MS Search 6.0 Robot)"

IndexLocation="C:\Program Files\Microsoft Office Servers\14.0\Data\Office Server\Applications"

PerformanceLevel="PartlyReduced"

Account="localhost\saservice"

             ShareName="SearchShare">

 

<EnterpriseSearchServiceApplications>

<EnterpriseSearchServiceApplication Name="Enterprise Search Service Application"

DatabaseServer="localhost"

DatabaseName="SharePoint_Search"

FailoverDatabaseServer=""

Partitioned="false"

Partitions="1"

SearchServiceApplicationType="Regular">

<ApplicationPool Name="SharePoint Enterprise Search Application Pool" Account="localhost\saservice" />

<CrawlServers>

<Server Name="localhost" />

</CrawlServers>

<QueryServers>

 <Server Name="localhost" />

</QueryServers>

<SearchQueryAndSiteSettingsServers>

<Server Name="localhost" />

</SearchQueryAndSiteSettingsServers>

<AdminComponent>

<Server Name="localhost" />

<ApplicationPool Name="SharePoint Enterprise Search Application Pool" Account="localhost\saservice" />

</AdminComponent>

<Proxy Name="Enterprise Search Service Application Proxy" Partitioned="false">

<ProxyGroup Name="Default" />

</Proxy>

</EnterpriseSearchServiceApplication>

</EnterpriseSearchServiceApplications>

</EnterpriseSearchService>

</Services>

Remarks:

    I replace "localhost" with the actual computer name in the script
    The Share Name (here "SearchShare") will be created by the script as well, so whatever you call it doesn't matter
    The config file shown can be reused on every machine provided that the local service account "saservice" has been created before 