backend name_me {
    .host = "0.0.0.0";
    .port = "8888";
}
# check out the flow chart to understand all this vcl_recv/fetch stuff https://www.varnish-cache.org/trac/wiki/VCLExampleDefault
  
sub vcl_recv {
 
#passes the correct client ip to nginx
        if (req.restarts == 0) {
            if (req.http.X-Forwarded-For) {
                set req.http.X-Forwarded-For = req.http.X-Forwarded-For + ", " + client.ip;
            } else {
                set req.http.X-Forwarded-For = client.ip;
            }
        }
 
        if (!(req.url ~ "wp-(login|admin)")) {
            unset req.http.cookie;
        }
 
        # Anything else left?
        if (!req.http.cookie) {
            unset req.http.cookie;
        }
        # Try a cache-lookup
        return (lookup);
 
}
 
# Drop any cookies WordPress tries to send back to the client.
sub vcl_fetch {
 
        if (!(req.url ~ "wp-(login|admin)")) {
            unset beresp.http.set-cookie;
        }
}