<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="QsSocket" type="System.Configuration.SingleTagSectionHandler" />
    <section name="BFSHistory" type="System.Configuration.SingleTagSectionHandler" />
    <section name ="AirConfiguration" type ="System.Configuration.SingleTagSectionHandler"/>
    <section name ="ProductionConfigurationMaster" type ="System.Configuration.SingleTagSectionHandler"/>
    <section name ="EmailConfiguration" type ="System.Configuration.SingleTagSectionHandler"/>
  </configSections>
  <QsSocket port="7601" timeout="200000" loadbalancer="" http="True" soap="True" codeversion="" filetoverify="d$\travBin\bfs\first.dll" />
  <BFSHistory sqlServer="CHELBFSSQLAS01" dataBase="BFSHistory" timeout="120" username="BFSTest" password="BFSTest123"/>
  <AirConfiguration sqlServer="chexsqlair03.idx.expedmz.com" database="BFSTestProdMonitoring" timeout="120"/>
  <ProductionConfigurationMaster sqlServer="CHELBFSSQLFC01" database="BFSTestProdMonitoring" timeout="120"/>

  <appSettings>
    <add key="SupressConsoleLoggingForAirDBConnection" value="true"/>
    <add key ="UseSQLAuthentication" value="true"/>
    <add key="SQLUser" value ="BFSTest"/>
    <add key="SQLPwd" value ="BFSTest123"/>
    <add key="DoServiceVerification"  value="true" />
    <add key="DoDiskSpaceVerification"  value="true" />
    <add key="DoQueryServerFunctionalityVerification"  value="true" />
    <add key="verifyEventLog" value="false" />
    <add key="FreeSpacePercentageThreshold"  value="1" />
    <add key="ResultsLogFile" value="results.txt"/>
    <add key="RequestXMLFileLocation" value="\\chc-filidx\public\akravchuk\XMLJunk"/>

    <add key="ServerNameSeedMappings" value="BFSDIS=DistributorServices,BFSPPD=DomMasterServices,BFSPPI=IntMasterServices,BFSPPB=BotServices,BFSQRY=QueryServerServices,SBRMGR=SBRServices,USG=SBRServices,AMDMGR=AMDMGRServices,DIR=DirServices,BFSSAC=SACRServices,SACR=SACRServices,SACD=SACDServices" />
    <add key="startedDistributorServices" value="BFSDSVCMGR,BFSDIS,BFSDIAGMGR" />
    <add key="startedDomMasterServices" value="AVSMGR,CCDMGR,CCFMGR,CSTMGR,CVRMGR,DMDMGR,DRTMGR,FRSMGR,WCSWAP,HLRMGR,MCTMGR,METMGR,MPMMGR,OAGLOCMGR,OAGMGR,PFCMGR,SABREMGR,SPRMGR,SVCMGR,BFSTAXMGR,TPMMGR,EXPTAXMGR,BFSDIAGMGR" />
    <add key="startedIntMasterServices" value="INTMGR,INTCSTMGR" />
    <add key="startedBotServices" value="INTPBOT,BFSPBOT,BFSDIAGMGR" />
    <add key="startedQueryServerServices" value="BFSQAVS,BFSQCCD,BFSQCCF,BFSQCST,BFSQCVR,BFSQDMD,BFSQDRT,BFSQEXPTAX,BFSQFRS,BFSQHLR,BFSQINT,BFSQINTCST,BFSQMCT,BFSQMET,BFSQMPM,BFSQOAG,BFSQPFC,BFSQROE,BFSQSBRCVR,BFSQSPR,BFSQSVC,BFSQTAX,BFSQTPM,BFSQAMADEUS,BFSCFGSVC,BFSDIAGMGR,BFSQUERYMGR,BFSQSBR,BFSQUERYMGRWSSVC,BFSQDIR,BFSQAMD" />
    <add key="startedSBRServices" value="SBRMGRWS,BFSDIAGMGR" />
    <add key="startedAMDMGRServices" value="AMDMGRWS,BFSDIAGMGR" />
    <add key="startedDirServices" value="DIRMGR,SWGW|M,CDSSERVER|M,BFSDIAGMGR" />
    <add key="startedSACRServices" value="SACROUTESVC,BFSLOGMGR,BFSDIAGMGR" />
    <add key="startedSACDServices" value="SACDATASVC,BFSLOGMGR,BFSDIAGMGR" />
    <add key="stoppedDistributorServices" value="" />
    <add key="stoppedDomMasterServices" value="" />
    <add key="stoppedIntMasterServices" value="" />
    <add key="stoppedBotServices" value="" />
    <add key="stoppedQueryServerServices" value="" />
    <add key="stoppedSBRServices" value="" />
    <add key="stoppedAMDMGRServices" value="" />
    <add key="stoppedDirServices" value="" />
    <add key="stoppedSACRServices" value="" />
    <add key="stoppedSACDServices" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="PHXFarmsAndVIPs" value="ProdA=SVG_BFS_PH_QRY_FA_101-120,SVG_BFS_PH_QRY_FA_121-140|ProdB=SVG_BFS_PH_QRY_FB_101-120,SVG_BFS_PH_QRY_FB_121-140|ProdC=SVG_BFS_PH_QRY_FC_101-120,SVG_BFS_PH_QRY_FC_121-140|ProdD=SVG_BFS_PH_QRY_FD_101-120,SVG_BFS_PH_QRY_FD_121-140"/>
    <add key="PHXNS" value ="PHX-NLBBFSA"/>
    <add key="CHEFarmsAndVIPs" value="ProdE=SVG_CH_BFS_QRY_FE_200-219,SVG_CH_BFS_QRY_FE_220-239|ProdF=SVG_CH_BFS_QRY_FF_200-219,SVG_CH_BFS_QRY_FF_220-239|ProdG=SVG_CH_BFS_QRY_FG_200-219,SVG_CH_BFS_QRY_FG_220-239|ProdH=SVG_CH_BFS_QRY_FH_200-219,SVG_CH_BFS_QRY_FH_220-239"/>
    <add key="CHENS" value ="CHE-NLBBFSA"/>
    <add key ="UpdateProdServersDBOORStatus" value="true"/>
    <add key="NSCred" value ="BAgUm0tik"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="epHttpV1_0_0" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
          transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://chelbfsamdfa01:4000/amd" binding="wsHttpBinding"
        bindingConfiguration="epHttpV1_0_0" contract="AmadeusWebServiceGateway.AWG_V1_0_0"
        name="epHttpV1_0_0" />
    </client>
  </system.serviceModel>
</configuration>